@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Orbitron&family=Poppins&family=REM:ital@1&display=swap');

@media (max-width:760px) {
    body{
        font-family: 'Montserrat';
        padding-top: 0px;
        margin-top: 0px;
        color:white;
    
    }
    .hsidebarcont{
      position: absolute;
      z-index: 1000;
        transition: .5s ;
        background-color: black;
        border-radius: 10px;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        color:white;
        width: 12rem;
        font-size: 15px;
    }
    .hsidebarconts{
        display: none;
    }
    .sb-items{
          list-style: none;
          display: flex;
          flex-direction: column;
          gap:10px;

    }
    .sb-items li{
        border-radius: 10px;
        padding:0px;
         width:100%;
         height: 40px;
         cursor: pointer;
    }
    .sb-items li:hover{
        background-color: white;
        color:black;
       
    }
    .containerr{
        position: relative;
    }
    .mainNc{
       
        display: flex;
        justify-content: center;
    }
    .cont{
        padding: 0px;
        margin: 0px;
    }
    .navbar-head{
        display: flex;
        justify-content: space-around;
        gap:15px;
        
    }
    .searchIcon{
        height: 30px;
        width:2rem;
        color:white;
    }
    .searchIcondiv{
        cursor: pointer;
        outline: none;
        border:none;
        background-color: transparent;
        position: absolute;
        right:90px;
        top:20px;
        height: 30px;
        width:2rem;
    }
    .searchbar{
        display: none;
        height:0px;
    }
    .searchBar{
        padding-top:5px;
        position: relative;
        width: 100%;
        height:60px;
        /*animation:grow 0.5s linear;*/
        background-color: black;
        color:white;
        display: flex;
        justify-content: center;
        transition: .5s;
    }
   /* @keyframes grow{
        0%{
            height:0px;
        }
    
        100%{
            height: 60px;
        }
    }*/
    .searchBar input{
       text-align: center;
        border:2px solid white;
        border-radius: 15px;
    }
    .anotes{
        margin-top: 20px;
        border: 2px solid white;
        border-radius: 10px;        
        background-color: transparent;
        width:85%;
        padding:15px;
        position: relative;
    }
    .abdiv{
        position: absolute;
        bottom:100px;
        right:20px;
    }
    .addbutton{
        position: sticky;
        bottom:10px;
        background-color: white;
        width:50px;
        height: 50px;
        color:white;
        border-radius: 15px;
        cursor: pointer;
    }
    .menubar{
        position: relative;
        top:23px;
        left:10px;
        width:50px;
        height: 24px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: .4s;
    }
    .menubar:hover{
        background-color: white;
        border-radius: 50px;
        color:black;
    }
    .list-items{
        list-style: none;
        display: flex;
        justify-content: center;
        position: relative;
        top:10px;
        padding-right: 10px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        transition: .4s ease-out;
       
    }
    .navcont{
        display: flex;
        justify-content: space-between;
        background-color: red;
        width: 100%;
        height:70px;
        background-color: black;
        padding-top: 0px;
        margin-top: 0px;
        font-family: 'Orbitron';
    }
    .notescont{
        display: flex;
        justify-content: center;
        background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
        height: 100dvh;
        width:100%;
        padding: 10px;
    }
    .notes{
        background-color: white;
        color:black;
        position: relative;
        font-family: 'REM';
        border-radius: 15px;
        padding-left: 5px;
        height:85px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: .5s;
        font-size: 14px;

        
    }
    .notes:hover{
        filter: brightness(75%);
    }
    .acN{
        position: relative;
        bottom: 10px;
    }
    .hrN{
        width:100%;
        border: 2px solid white;
    }
    .notes h3{
        padding-left: 10px;
        
    }
    .notes p{
        position: absolute;
        top:45px;
    }
        
}
