    @import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Orbitron&family=Poppins&family=REM:ital@1&display=swap');
    @media (min-width:760px) {
        body {
            font-family: 'Montserrat';
            padding-top: 0px;
            margin-top: 0px;
            color: white;

        }
        button{
            font-family: 'Montserrat';
        }

        .hsidebarcont {
            position: absolute;
            z-index: 1000;
            transition: .5s;
            background-color: black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 100dvh;
            display: flex;
            flex-direction: column;
            color: white;
            width: 12rem;
            font-size: 15px;
            align-items: center;
            justify-content: flex-start;

        }

        .hsidebarconts {
            display: none;
        }

        .profimg {
            width: 30px;
            height: 26px;
            border-radius: 10px;

        }

        .sb-items {

            justify-content: center;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;

            width: 100%;

        }

        .sb-items li {
            transition: .3s ease-in;
            font-family: 'Orbitron';
            display: flex;
            justify-content: center;
            border-radius: 10px;
            width: 80%;
            height: 40px;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }

        .sb-items li:hover {
            background-color: white;
            color: black;

        }

        .containerr {
            position: relative;
        }

        .mainNc {

            display: flex;
            justify-content: center;
        }

        .cont {
            padding: 0px;
            margin: 0px;
        }

        .navbar-head {
            display: flex;
            justify-content: space-around;
            gap: 15px;

        }

        .searchIcon {
            height: 30px;
            width: 2rem;
            color: white;
        }

        .searchIcondiv {
            cursor: pointer;
            outline: none;
            border: none;
            background-color: transparent;
            position: absolute;
            right: 90px;
            top: 20px;
            height: 30px;
            width: 2rem;
        }

        .searchbar {
            display: none;
            height: 0px;
        }

        .searchBar {
            padding-top: 5px;
            position: relative;
            width: 100%;
            height: 60px;
            /*animation:grow 0.5s linear;*/
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            transition: .5s;
        }

        /* @keyframes grow{
        0%{
            height:0px;
        }
    
        100%{
            height: 60px;
        }
    }*/
        .searchBar input {
            text-align: center;
            border: 2px solid white;
            border-radius: 15px;
        }

        .anotes {
            margin-top: 20px;
            border: 2px solid white;
            border-radius: 10px;
            background-color: transparent;
            width: 85%;
            padding: 15px;
            position: relative;
            overflow: auto;
            overflow-x: hidden;
        }
        .anotes::-webkit-scrollbar {
            width: 10px;
            cursor: pointer;
            transition: .3s;

        }
       
        .anotes::-webkit-scrollbar-track {
            background-color: white;
        }
       
        .anotes::-webkit-scrollbar-thumb {
            background: rgb(179, 59, 59);
       
        }

        .addbutton {
            position: relative;
            background-color: white;
            width:50px;
            height: 40px;
            color:white;
            border-radius: 10px;
            cursor: pointer;
            bottom:10px;
        }

        .menubar {
            position: relative;
            top: 23px;
            left: 10px;
            width: 50px;
            height: 24px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: .4s;
        }

        .menubar:hover {
            background-color: white;
            border-radius: 50px;
            color: black;
        }

        .list-items {
            cursor: pointer;
            list-style: none;
            display: flex;
            justify-content: center;
            position: relative;
            top: 10px;
            padding-right: 10px;
        }

        .navbar {
            display: flex;
            flex-direction: column;
            transition: .4s ease-out;

        }

        .navcont {
            display: flex;
            justify-content: space-between;

            width: 100%;
            height: 70px;
            background-color: black;
            padding-top: 0px;
            margin-top: 0px;
            font-family: 'Orbitron';
        }

        .notescont {
            display: flex;
            justify-content: center;
            background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
            height: 100dvh;
            width: 100%;
            padding: 10px;
        }

        .notes {
            padding-left:4px;
            padding-right:4px;
            margin-left:4px;
            margin-right:4px;
            margin-bottom: 5px;
            position: relative;
            font-family: 'REM';
            border-radius: 15px;
            padding-left: 5px;
            height:85px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }
        .notelist {
            width: 100%;
            height: 86dvh;
            overflow: auto;
            overflow-x: hidden;
         }
         .notelist::-webkit-scrollbar {
             width: 6px;
             cursor: pointer;
             transition: .3s;

         }
        
         .notelist::-webkit-scrollbar-track {
             background-color: white;
         }
        
         .notelist::-webkit-scrollbar-thumb {
             background: rgb(179, 59, 59);
        
         }
    
        .acN:hover {
            filter: brightness(75%);
        }

        .acN {
            border-top-left-radius:10px ;
            border-bottom-left-radius:10px ;
            cursor: pointer;
            transition: .5s;
            position: relative;
            bottom: 0px;
            background-color: white;
            color:black;
            font-family: 'REM';
            height:85px;
            display: flex;
            flex-direction: column;
            width: 60%;
            overflow: hidden;
            overflow-y: auto;
        }
        .btn_div{
            padding-left: 5px;
            padding-right: 5px;
            height:100%;
           width:40%;
           gap:10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-top-right-radius:10px ;
            border-bottom-right-radius:10px ;
        }
        .btn1{
            background-color: white;
            border-radius: 10px;
            width:36%;
            height:40px;
            cursor: pointer;
        }
        .btn2{
            cursor: pointer;
            border-radius: 10px;
            width:36%;
            height:40px;
        }
        .btn3{
            cursor: pointer;
            border-radius: 10px;
            background-color: rgb(192, 42, 42);
            color:white;
            height:40px;
    
        }

        .hrN {
            width: 100%;
            border: 2px solid white;
        }

        .notes h3 {
            padding-left: 10px;
            font-size: 18px;
            align-items: flex-start;
            display: flex;

        }

        .notes p {
            padding-left: 5px;
            position: absolute;
            top:30px;
            font-size: 13px;
            bottom: 5px;
        }

                .noteform {
                    display: flex;
                    justify-content: center;
                    background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
                    padding: 10px;
                    height: 100dvh;
                    align-items: center;
        
                }
        
                .titlebox {
                    font-size: large;
                    text-align: center;
                }
        
                .notesbtn_div {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;
        
                }
        
                .Savebtn {
                    font-family: 'REM';
                    font-size: large;
                    color: white;
                    background-color: green;
                    padding: 5px;
                    width: 100px;
                    height: 40px;
                    cursor: pointer;
                    transition: .4s;
                    border-radius: 10px;
                }
        
                .Savebtn:hover {
                    filter: brightness(60%);
                }
        
                .buttun {
                    font-family: 'REM';
                    font-size: large;
                    color: black;
                    background-color: white;
                    padding: 5px;
                    width: 100px;
                    height: 40px;
                    cursor: pointer;
                    transition: .4s;
                    border-radius: 10px;
                }
        
                .notesform {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 70%;
                    width: 80%;
                    border: 2px solid white;
                    border-radius: 5px;
                    padding: 4px;
                }
        
                .textbox {
                    outline: none;
                    background-color: transparent;
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    border: none;
                    color: white;
                }
        
               .textbox_div {
                   word-wrap: break-word;
                   padding: 5px;
                   border: 2px solid white;
                   height: 60%;
                   width: 80%;
                   margin-top: 10px;
                   background-color: rgb(58, 47, 47);
                
               }
                
               .textbox::-webkit-scrollbar {
                   width: 12px;
               }
                
               .textbox::-webkit-scrollbar-track {
                   background-color: white;
               }
                
               .textbox::-webkit-scrollbar-thumb {
                   background: rgb(179, 59, 59);
                
               }


        /*.mainNc{
       
        display: flex;
        justify-content: center;
    }
    .navbar{
        width: 100%;
        height:70px;
        background-color: black;
        padding-top: 0px;
        margin-top: 0px;
    }
    .notescont{
        
        background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
        border: 1px solid;
        height: 100dvh;
        width:75%;
        padding: 10px;
    }
*/
    }