    @import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Orbitron&family=Poppins&family=REM:ital@1&display=swap');
    @media (min-width:760px) {
        body {
            font-family: 'Montserrat';
            padding-top: 0px;
            margin-top: 0px;
            color: white;
        }
         body::-webkit-scrollbar {
            width: 14px;
            height: 10px;
        }
        body::-webkit-scrollbar-track {
             border-radius: 10px;
             background: grey;
             box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
          }
         body::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: linear-gradient(left, #96A6BF, #63738C);
            box-shadow: inset 0 0 1px 1px #5C6670;
         }
        body::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(left, #8391A6, #536175);
        }
        button{
            font-family: 'Montserrat';
            transition: .3s;
            
        }
        button:hover{
            filter: brightness(70%);
        }
        :root{
            --bcolor: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
        }

        .hsidebarcont {
            position: absolute;
            z-index: 1000;
            transition: .5s;
            background-color: black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 60dvh;
            display: flex;
            flex-direction: column;
            color: white;
            width: 18rem;
            font-size: 15px;
            align-items: center;
            justify-content: flex-start;

        }

        .hsidebarconts {
            display: none;
        }

        .profimg {
            width: 30px;
            height: 26px;
            border-radius: 10px;
        }

        .sb-items {
            justify-content: center;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        .sb-items li {
            transition: .3s ease-in;
            font-family: 'Orbitron';
            display: flex;
            justify-content: center;
            border-radius: 10px;
            width: 80%;
            height: 40px;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }

        .sb-items li:hover {
            background-color: white;
            color: black;

        }

        .containerr {
            position: relative;
        }
        .navoacont{
            position: sticky;
            top:0px;
            z-index: 1000;
        }

        .mainNc {

            display: flex;
            justify-content: center;
        }

        .cont {
            padding: 0px;
            margin: 0px;
        }

        .navbar-head {
            display: flex;
            justify-content: space-around;
            gap: 15px;

        }
        .bookicon{
        position: absolute;
        left: 15rem;
        top: 1.4rem;
        width: 2rem;
        height: 1.6rem;
        padding-left: 6px;
    }
        .yname{
            position: absolute;
            font-size: 18px;
            left:15.3rem;
            top:0.3rem;
        }

        .searchIcon {
            height: 30px;
            width: 2rem;
            color: white;
        }

        .searchIcondiv {
            cursor: pointer;
            outline: none;
            border: none;
            background-color: transparent;
            position: absolute;
            right: 90px;
            top: 20px;
            height: 30px;
            width: 2rem;
        }

        .searchbar {
            display: none;
            height: 0px;
        }

        .searchBar {
            padding-top: 5px;
            position: relative;
            width: 100%;
            height: 60px;
            /*animation:grow 0.5s linear;*/
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            transition: .5s;
        }

        /* @keyframes grow{
        0%{
            height:0px;
        }
    
        100%{
            height: 60px;
        }
    }*/
        .searchBar input {
            text-align: center;
            border: 2px solid white;
            border-radius: 15px;
        }

        .anotes {
            margin-top: 20px;
            border: 2px solid white;
            border-radius: 10px;
            background-color: transparent;
            width: 85%;
            padding: 15px;
            position: relative;
            overflow: hidden;
            font-family: 'Orbitron';
        }
        .anotesh{
            display: flex;
            font-size: 25px;
            justify-content: center;

        }
        .profileIcon{
            width:2.2rem;
            height:1.8rem;
        }
        

        .addbutton {
            position: relative;
            background-color: white;
            width:50px;
            height: 40px;
            color:white;
            border-radius: 10px;
            cursor: pointer;
            bottom:10px;
        }

        .menubar {
            position: relative;
            top: 23px;
            left: 10px;
            width: 50px;
            height: 24px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: .4s;
        }

        .menubar:hover {
            background-color: white;
            border-radius: 50px;
            color: black;
        }

        .list-items {
            cursor: pointer;
            list-style: none;
            display: flex;
            justify-content: center;
            position: relative;
            top: 10px;
            padding-right: 10px;
        }

        .navbar {
            display: flex;
            flex-direction: column;
            transition: .4s ease-out;

        }
        

        .navcont {
            display: flex;
            justify-content: space-between;

            width: 100%;
            height: 70px;
            background-color: black;
            padding-top: 0px;
            margin-top: 0px;
            font-family: 'Orbitron';
        }

        .notescont {
            display: flex;
            justify-content: center;
            background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
            height: 100dvh;
            width: 100%;
            padding: 10px;
        }
        .no_notes{
            background-color: black;
            height: 100%;
            width: 100%;
            align-items:center;
            display: flex;
            font-size: larger;
            justify-content: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            
       
    }

        .notes {
            width:90%;
            padding-left:4px;
            padding-right:4px;
            margin-bottom: 10px;
            position: relative;
            font-family: 'REM';
            border-radius: 15px;
            padding-left: 5px;
            height:85px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }
        .notelist {
            width: 100%;
            height: 86dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            overflow-x: hidden;
         }
         .notelist::-webkit-scrollbar {
             width: 6px;
             cursor: pointer;
             transition: .3s;

         }
        
         .notelist::-webkit-scrollbar-track {
             background-color: white;
         }
        
         .notelist::-webkit-scrollbar-thumb {
             background: rgb(179, 59, 59);
        
         }
    
        .acN:hover {
            filter: brightness(75%);
        }

        .acN {
            border-top-left-radius:10px ;
            border-bottom-left-radius:10px ;
            cursor: pointer;
            transition: .5s;
            position: relative;
            bottom: 0px;
            background-color: white;
            color:black;
            font-family: 'REM';
            height:85px;
            display: flex;
            justify-content: center;
            width: 60%;
            overflow: hidden;
            overflow-y: auto;
        }
        
        .btn_div{
            padding-left: 5px;
            padding-right: 5px;
            height:100%;
           width:40%;
           gap:10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-top-right-radius:10px ;
            border-bottom-right-radius:10px ;
        }
        .btn1{
            background-color: white;
            border-radius: 10px;
            width:36%;
            height:40px;
            cursor: pointer;
        }
        .btn2{
            cursor: pointer;
            border-radius: 10px;
            width:36%;
            height:40px;
        }
        .btn3{
            cursor: pointer;
            border-radius: 10px;
            background-color: rgb(192, 42, 42);
            color:white;
            height:40px;
    
        }

        .hrN {
            width: 100%;
            border: 2px solid white;
        }

        .notes h3 {
            position: absolute;
            top: 3px;
            text-transform: uppercase;
            padding-left: 10px;
            font-size: 23px;

        }

        .notes p {
            padding-left: 5px;
            position: absolute;
            top:30px;
            font-size: 13px;
            bottom: 5px;
            display: none;
            text-overflow: ellipsis;
        }

          .noteform {
              display: flex;
              justify-content: center;
              background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
              padding: 10px;
              height: 100dvh;
              align-items: center;
        
          }
        
          .titlebox {
              font-size: large;
              text-align: center;
              color:white;
          }
        
          .notesbtn_div {
              display: flex;
              gap: 10px;
              margin-top: 10px;
        
          }
        .cnhr{
            margin-bottom: 20px;
            border: 2px dashed white;
        }
          .Savebtn {
              font-family: 'REM';
              font-size: large;
              color: white;
              background-color: rgb(19, 18, 18);
              padding: 5px;
              width: 100px;
              height: 40px;
              cursor: pointer;
              transition: .4s;
              border-radius: 10px;
          }
        
          .Savebtn:hover {
              filter: brightness(60%);
          }
        
          .buttun {
              font-family: 'REM';
              font-size: large;
              color: black;
              background-color: white;
              padding: 5px;
              width: 100px;
              height: 40px;
              cursor: pointer;
              transition: .4s;
              border-radius: 10px;
          }
        
          .notesform {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 70%;
              width: 80%;
              border: 2px solid white;
              border-radius: 5px;
              padding: 4px;
         }
        
        .textbox {
            outline: none;
            background-color: transparent;
            width: 100%;
            max-width: 100%;
            height: 100%;
            border: none;
            color: white;
            resize: none;
        }

       .textbox_div {
            word-wrap: break-word;
            padding: 5px;
            border: 2px solid white;
            height: 60%;
            width: 80%;
            margin-top: 10px;
            background-color: rgb(58, 47, 47);
             
        }
             
       .textbox::-webkit-scrollbar {
           width: 12px;
       }
             
       .textbox::-webkit-scrollbar-track {
           background-color: white;
       }
             
       .textbox::-webkit-scrollbar-thumb {
           background: rgb(179, 59, 59);   
       }
        /*PROFILE*/
    .passcodediv{
        background-color: yellow;
    }
    .profileFile{    
        border:none;
        width:30%;
        height:25px;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .profimgborder{
       cursor: pointer;
       border:1px solid white;
       border-radius: 10px;
       width: 13rem;
       height: 12rem;
       margin-bottom: 13px;
    }
    .profileimg_div{
       color:white;
       margin-top: 50px;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .aprofileimg{
       width:13rem;
       height:12rem;
       object-fit: fill;
       border-radius: 10px;
    }

    .profilediv{
       overflow: auto;
       overflow-x: hidden;
       background-color: rgba(105, 105, 105, 0.267);
       height:90%;
       position: relative;
    }
    .profilediv input[type='file']{
       position: absolute;
       right:100px;
       width:160px;
       top:230px;
       opacity:0;
       cursor: pointer;
    }
    .toggle2{
       display: inline-block;
       color:black;
       background-color: white;
       border:2px solid white;
       border-radius:5px;
    }
    .toggle2:hover{
       background-color: black;
       color:white;
    }
        .personalinfo {
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
            gap: 1.2rem;
        }
    
        .persdiv {
    
            position: relative;
            border: 2px solid burlywood;
            border-bottom: none;
            width: 30%;
            overflow: auto;
            font-size: 10px;
            overflow: hidden;
    
        }
    
        .persdiv input {
            width: 99%;
            background-color: white;
            text-align: center;
            color: black;
            font-size: 1rem;
    
        }

         /*LOADING*/
    .loader-container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: rgba(0, 0, 0, 0.834);
        z-index: 1;
    }
    
    .spinner {
        width: 64px;
        height: 64px;
        border: 8px solid;
        border-color: #6e27278e transparent #f7f7f7 transparent;
        border-radius: 50%;
        animation: spin-anim 1.2s linear infinite;
    }
    
    @keyframes spin-anim {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
        
        

    }