@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Orbitron&family=Poppins&family=REM:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=PT+Serif&family=Poppins&family=Roboto+Mono&display=swap');
@media (min-width: 769px) {
    body {
      padding: 1px;
      font-family: 'Montserrat', sans-serif;
      color: white;
     
    }
   
  
    .cont{
      margin-top: 0px;
      padding-top: 0px;
      overflow: hidden;
    }
    
    .mainContainer {
      display: flex;
      justify-content: space-between;
      height: 100dvh;
      align-items: center;
      gap: 1px;
    }

    .imgcont {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      height: 100%;
      width: 50%;
      background-color: black;
      color: #63311b;
      font-family: 'Orbitron';
  
    }
    .nothead_div{
      display: none;
    }
  
    .logimage {
      height: 100%;
      width: 100%;
    }
  
    .headercont {
      display: flex;
      padding-bottom: 28px;
      flex-direction: column;
      height: 20%;
      font-size: large;
    }
  
    hr {
      border: 1px dashed black;
      width: 100%;
      
    }
  
    .Signup{
      display: flex;
      justify-content: center;
    }
    .valds {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 50%;
      color: black;
      /*background-color: orange;*/
      /*background: rgb(41, 18, 18);*/
      background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
     
    }

    input:focus~label,
    input:valid~label {
      font-size: large;
      color:rgb(141, 138, 138);
    }
  
     input:focus,
     input:focus~label,
     input:valid~label {
       top: -15px;
       transition: .5s ease;
      color: rgb(141, 138, 138);
     }
     input:invalid~label{
      top:-15px;
     }
  
    .maincontvalds {
      display: flex;
      align-items: center;
    }
  
    .form {
      gap: 10px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      height: 450px;
      background-color: transparent;
      width: 400px;
      color: black
    }
    .forms{
      
      gap: 10px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      height: 530px;
      background-color: transparent;
      width: 400px;
      color: black;
    
    }
  
    .logbtndiv {
      display: flex;
      justify-content: center;
      position: relative;
      top: -90px;
      width: 100%;
    }
  
    .checkbos {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: medium;
      bottom: 40px;
    }
    .linkto{
      color:burlywood;
      margin-left:20px;
      position: relative;
      top:-10px;
     
    }
  
    .view {
      font-size: 10px;
    }
  
    .viewpass {
      width: 15px;
      height: 15px;
    }
  
    .logbtn {
      width: 80%;
      height: 40px;
      border-radius: 10px;
      font-size: large;
      font-weight: bold;
      cursor: pointer;
      transition: .2s ease-in;
      background-color: black;
      color: burlywood;
      font-family: 'Montserrat';
      padding: 10px;
    }
  
    .logbtn:hover {
      color: black;
      background: #63311b;
    }
  
    .logbtn:active {
      color: black;
      background-color: burlywood;
    }
  
    label {
      font-weight: bolder;
      font-size: medium;
      transition: .4s ease;
    }
  
    .passwordInputdiv {
      position: relative;
      display: flex;
      justify-content: center;
    }
  
    .emailInputdiv {
      position: relative;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      
    }
  
    .emailInputdiv label {
      position: absolute;
      top: 10px;
      left: 40px;
    }
  
    .passwordInputdiv label {
      position: absolute;
      top: 10px;
      left: 40px;
  
    }
  
    input {
      width: 80%;
      height: 45px;
      font-family: 'Montserrat';
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 2px solid burlywood;
      font-size: medium;
      color:black;
    }
  
    .inputs {
      margin-top: 30px;
      display: flex;
      gap: 55px;
      display: flex;
      flex-direction: column;
    }
    .mainCont{
      display:flex;
      justify-content: center;
      align-items: center;
      height:100dvh;
      width:100%; 
      gap:1px;
    }
    
    .fpdiv{
      display:flex;
      flex-direction: column;
      height: 100dvh;
      align-items: center;
      justify-content: center;
      width:50%;
      background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
    }
    .imgcontt{
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      height:100%;
      width:50%;
      font-family: 'Orbitron';
      background-color: black;
      color: #63311b;
    }
    .Einput{
      border-bottom:2px solid black;
      background-color: transparent;
      height: 40px;
    }
        .Einput {
          border-bottom: 2px solid burlywood;
          background-color: transparent;
          height: 40px;
          text-align: center;
        }
    
        .Einput:invalid~label {
          top: -15px;
        }
    
        .ediv label {
          position: absolute;
          color:black;
          left: 3px;
        }
    
        .Einput:focus,
        .Einput:valid {
          border-bottom: 2px solid grey;
        }
    
        .ediv {
          position: relative;
          top: 20px;
          left: 10%;
          width: 100%;
          height: 20%;
        }
    
        .forp {
          border: 2px solid black;
          width: 370px;
          height: 270px;
          border-radius: 15px;
        }
    
        .btndiv {
          position: relative;
          top: 65px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
    
        .subbutton {
          background:#63311b;
          color: black;
          width: 80%;
          height: 40px;
          border-radius: 4px;
          transition: .7s ease;
          cursor: pointer;
          font-family: 'Montserrat';
          font-size: large;
          padding: 4px;
          border-color: #63311b;
        }
    
        .subbutton:hover {
          background:burlywood;
          
        }
    
        /* /* .subbutton:active {
          background-color: green;
          color: white; */
        
    
        .fheader {
          display: flex;
          font-family: 'Orbitron';
          justify-content: center;
          color: black;
          font-size: x-large;
        }
    
        @keyframes infini {
          0% {
            transform: translateX(30px);
          }
    
          100% {
            transform: translateX(100px);
            color: rgb(112, 109, 109);
          }
        }
  }