@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=PT+Serif&family=Poppins&family=Roboto+Mono&display=swap');
@media (min-width: 769px) {
    body {
      padding: 1px;
      font-family: 'Montserrat', sans-serif;
      color: white;
    }
  
    .nothead_div{
      display: none;
    }
    .TN{
      animation: infini 2s infinite ;
    }
    .mainContainer {
      display: flex;
      justify-content: space-between;
      height: 100dvh;
      align-items: center;
      gap: 1px;
    }
  
    .imgcont {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      height: 100%;
      width: 50%;
      /*background:linear-gradient(to left,black, white);
      background-attachment: fixed;
      background-repeat: no-repeat;*/
      background-color: black;
      color: white;
      font-family: 'Black Ops One';
  
    }
  
    .logimage {
      height: 100%;
      width: 100%;
    }
  
    .headercont {
      display: flex;
      padding-bottom: 28px;
      flex-direction: column;
      height: 20%;
      font-size: large;
    }
  
    hr {
      border: 1px dashed white;
      width: 100%;
      
    }
  
    .Signup{
      display: flex;
      justify-content: center;
    }
    .valds {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 50%;
      color: white;
      /*background-color: orange;*/
      /*background: rgb(41, 18, 18);*/
      background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
     
    }

    input:focus~label,
    input:valid~label {
      font-size: large;
      color:rgb(141, 138, 138);
    }
  
     input:focus,
     input:focus~label,
     input:valid~label {
       top: -15px;
       transition: .5s ease;
       
     }
     input:invalid~label{
      top:-15px;
     }
  
    .maincontvalds {
      display: flex;
  
      align-items: center;
    }
  
    .form {
      gap: 10px;
      border: 1px solid white;
      border-radius: 10px;
      padding: 10px;
      height: 450px;
      background-color: transparent;
      width: 400px;
      color: white
    }
    .forms{
      
      gap: 10px;
      border: 1px solid white;
      border-radius: 10px;
      padding: 10px;
      height: 530px;
      background-color: transparent;
      width: 400px;
      color: white;
    
    }
  
    .logbtndiv {
      display: flex;
      justify-content: center;
      position: relative;
      top: -90px;
      width: 100%;
    }
  
    .checkbos {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: medium;
      
      bottom: 40px;
    }
    .linkto{
      color:green;
      margin-left:20px;
      position: relative;
      top:-10px;
     
    }
  
    .view {
      font-size: 10px;
    }
  
    .viewpass {
      width: 15px;
      height: 15px;
    }
  
    .logbtn {
      width: 80%;
      height: 40px;
      border-radius: 10px;
      font-size: large;
      font-weight: bold;
      cursor: pointer;
      transition: .2s ease-in;
      background-color: black;
      color: white;
      font-family: 'Montserrat';
      padding: 10px;
    }
  
    .logbtn:hover {
      color: black;
      background: white;
    }
  
    .logbtn:active {
      color: white;
      background-color: green;
    }
  
    label {
      font-weight: bolder;
      font-size: medium;
      transition: .4s ease;
    }
  
    .passwordInputdiv {
      position: relative;
      display: flex;
      justify-content: center;
    }
  
    .emailInputdiv {
      position: relative;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      
    }
  
    .emailInputdiv label {
      position: absolute;
      top: 10px;
      left: 40px;
    }
  
    .passwordInputdiv label {
      position: absolute;
      top: 10px;
      left: 40px;
  
    }
  
    input {
      width: 80%;
      height: 45px;
      font-family: 'Montserrat';
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 2px solid White;
      font-size: medium;
      color:white;
    }
  
    .inputs {
      margin-top: 30px;
      display: flex;
      gap: 55px;
      display: flex;
      flex-direction: column;
    }
    .mainCont{
      display:flex;
      justify-content: center;
      align-items: center;
      height:100dvh;
      width:100%; 
      gap:1px;
    }
    
    .fpdiv{
      display:flex;
      flex-direction: column;
      height: 100dvh;
      align-items: center;
      justify-content: center;
      width:50%;
      background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
    }
    .imgcontt{
      display:flex;
      justify-content: center;
      align-items: center;
      height:100%;
      width:50%;
      background-color: black;
    }
    .Einput{
      border-bottom:2px solid black;
      background-color: transparent;
      height: 40px;
      text-align:center;
    }
    .Einput:invalid~label {
      top: -15px;
    }
  
    .ediv label{
     position: absolute;
     color:black;
     left:3px;
    }
    .Einput:focus,
    .Einput:valid{
      border-bottom: 2px solid grey;
    }
    .ediv{
      position: relative;
      top:20px;
      left:10%;
      width:100%;
      height: 20%;
    }
    .forp{
      border: 2px solid white;
      width:370px;
      height: 270px;
      border-radius:15px;
    }
    .btndiv{
      position: relative;
      top:65px;
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
    }
    .subbutton{
      background: linear-gradient(to left,rgb(133, 131, 131) 0%, #857c78 50%, rgb(0, 0, 0)  100%);
      color:white;
      width:80%;
      height: 30px;
      border-radius: 20px;
      transition: .5s ease;
      cursor: pointer;
      font-family: 'Montserrat';
      font-size: large;

    }
    .subbutton:hover{
      background: grey;
      color:black
    }
    .subbutton:active{
      background-color: green;
      color:white;
    }
    .fheader{
      display: flex;
      justify-content: center;
    }

    @keyframes infini {
      0% {
        transform:translateX(30px);
      }
    
      100% {
        transform: translateX(100px);
        color:rgb(112, 109, 109);
      }
    }
  
}