@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto+Mono&display=swap');

@media (max-width: 768px) {
    body {
      margin-top: 0px;
      padding-top: 0px;
      padding:1px;
      color: black;
      font-family: 'Poppins';  
    }
    .imgcont{
       display: none;
    }
    .cont{
      padding-top: 0px;
      margin-top: 0px;
    }

    .nothead{
      position: relative;
      left:10px;
      top:30px;
      font-size: 30px;
      display: flex;
      justify-content: center;
    }
  .nothead_div{
    width:100%;
    background-color: black;
    color:white;
    font-family: 'Montserrat';
    height:100px;
    position: sticky;
    top:0px;
    }
  .mainContainer {
    background: linear-gradient(to bottom, rgb(41, 18, 18) 0%, #63311b 50%, rgb(41, 18, 18) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    align-items: center;
    gap: 1px;
    width:100%;
  }
  .headercont {
      display: flex;
      flex-direction: column;
      height: 20%;
      font-size: large;
      padding-bottom: 20px;
     
  }
  .Signup{
    display: flex;
    justify-content: center;
  }
  hr {
    border: 1px dashed white;
    width: 100%;
  }
  .form {
      gap: 10px;
      border: 1px solid white;
      border-radius: 10px;
      padding: 10px;
      height: 440px;
      background-color: transparent;
      width: 300px;
      color: white;
  }

  .forms {
      gap: 10px;
      border: 1px solid white;
      border-radius: 10px;
      padding: 10px;
      height: 520px;
      background-color: transparent;
      width: 300px;
      color: white
  }
   .checkbos {
       position: relative;
       font-size: smaller;
       left: 0px;
       display: flex;
       justify-content: space-around;
       bottom: 40px;
   }

   .linkto{
    color:green;
   }
   .view{    
       font-size: small;
   }

   .viewpass {
       width: 20px;
       height: 15px;
   }

   .logbtn {
       width: 80%;
       height: 40px;
       border-radius: 10px;
       font-size: large;
       font-weight: bold;
       cursor: pointer;
       transition: .2s ease-in;
       background-color: black;
       color: white;
       font-family: 'Montserrat';
       padding-bottom: 25px;
       padding-top: 10px;
   }

   .logbtn:hover {
       color: black;
       background: white;
   }

   .logbtn:active {
       color: white;
       background-color: green;
   }

   label {
       font-weight: bolder;
       font-size: large;
       transition: .2s ease-in;
   }

   .passwordInputdiv {
       position: relative;
       display: flex;
       justify-content: center;
   }

   .emailInputdiv {
       position: relative;
       margin-top: 20px;
       display: flex;
       justify-content: center;
   }

   .emailInputdiv label {
       position: absolute;
       top: 10px;
       left: 30px;
   }

   .passwordInputdiv label {
       position: absolute;
       top: 10px;
       left: 30px;

   }
  
   .logbtndiv {
       display: flex;
       justify-content: center;
       position: relative;
       bottom: 90px;
       width: 100%;
   }

   input {
    color:white;
       width: 80%;
       height: 45px;
       font-family: 'Montserrat';
       background-color: transparent;
       border: none;
       outline: none;
       border-bottom: 2px solid white;
       font-size: medium;
       transition: .5s ease-in;
   }

   .inputs {
       margin-top: 30px;
       display: flex;
       gap: 55px;
       display: flex;
       flex-direction: column;
   }

   input:focus~label,
   input:valid~label {
     font-size: large;
     color:rgb(141, 138, 138);
   }
 
    input:focus,
    input:focus~label,
    input:valid~label {
      top: -15px;
      transition: .5s ease;
      
    }
    input:invalid~label{
     top:-15px;
    }
  
    /*
  
    .imgcont {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: larger;
      height: 100%;
      width: 50%;
      
      background-color: black;
      color: white;
  
    }
  
    .logimage {
      height: 100%;
      width: 100%;
    }
  
    .headercont {
      display: flex;
      justify-content: center;
      height: 20%;
      font-size: large;
    }
  
    hr {
      border: 1px dashed black;
    }
  
    .valds {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 50%;
      color: white;
      
      background: url('../public/notebook1.png') no-repeat center/cover;
    
      filter:brightness(70%)
     
    }
  
    .maincontvalds {
      display: flex;
  
      align-items: center;
    }
  
    .form {
      gap: 10px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      height: 500px;
      background-color: transparent;
      width: 500px;
      color: black
    }
    .forms{
      gap: 10px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      height: 60 0px;
      background-color: transparent;
      width: 500px;
      color: black
    
    }
  
    .logbtndiv {
      display: flex;
      justify-content: center;
      position: relative;
      top: -20px;
      width: 100%;
    }
  
    .checkbos {
      position: relative;
      font-size: smaller;
      left: 360px;
      bottom: 40px;
    }
  
    .view {
      font-size: small;
    }
  
    .viewpass {
      width: 20px;
      height: 15px;
    }
  
    .logbtn {
      width: 80%;
      height: 40px;
      border-radius: 10px;
      font-size: large;
      font-weight: bold;
      cursor: pointer;
      transition: .2s ease-in;
      background-color: black;
      color: white;
      font-family: 'Montserrat';
      padding: 10px;
    }
  
    .logbtn:hover {
      color: black;
      background: white;
    }
  
    .logbtn:active {
      color: white;
      background-color: green;
    }
  
    label {
      font-weight: bolder;
      font-size: large;
    }
  
    .passwordInputdiv {
      position: relative;
      display: flex;
      justify-content: center;
    }
  
    .emailInputdiv {
      position: relative;
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  
    .emailInputdiv label {
      position: absolute;
      top: -15px;
      left: 50px;
    }
  
    .passwordInputdiv label {
      position: absolute;
      top: -15px;
      left: 50px;
  
    }
  
    input {
      width: 80%;
      height: 45px;
      font-family: 'Montserrat';
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 2px solid black;
      font-size: medium;
    }
  
    .inputs {
      margin-top: 30px;
      display: flex;
  
      gap: 55px;
      display: flex;
      flex-direction: column;
    }*/

}